*{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 215, 197);
    font-family: 'poppins', sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2vh;
    background-color:  rgb(241, 215, 197);
}
html{
    background-color:rgb(36, 7, 71) ;
}
.girl{
    height: 30vw;
    max-width: 100%;
    border-radius: 50%;
    margin-top: 3vw;
    padding: 0.5vw;
    position: absolute;
    background-color: rgb(36, 7, 71);
   right: 15vw;
   top: 6vw;
}
ul li{
    list-style: none; */
}
.info{
    margin-left: 15%;
    margin-top: 10%;
}
.info h1{
    font-size: 5vw;
    color: rgb(36, 7, 71);
}
.info h4{
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    font-family: cursive;
}
.info h2{
    font-size:3vw ;
}
.info span{
    color: rgb(74, 51, 51);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main{
    height: 10vh;
}
nav{
    justify-content: space-around;
    align-items: flex-end;
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
    background-color:  rgb(36, 7, 71);
}
a{
    color:rgb(241, 215, 197) ;
    text-decoration: underline;
    background-color:  rgb(36, 7, 71);
}
a:hover{
    color: rgb(241, 215, 197);
    text-decoration-color: rgb(36, 7, 71);
}
#button{
    text-decoration: none;
    text-decoration-color: rgba(224,212,207);
}
#button:hover{
    color: rgb(36, 7, 71);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(36, 7, 71);
}
.iconlink{
    display: inline-block;
    margin-right: 25rem; 
    margin: 1vw;
    margin-left: 25rem;
    transition: all 0.5s ease-in-out;
}
.icongit{
    display: inline-block;
    margin: 1vw;
    transition: all 0.5s ease-in-out;
}
.iconinsta{
    margin: 1vw;
    transition: all 0.5s ease-in-out;
}
.icongit:hover,.iconinsta:hover,.iconlink:hover{
    transform: scale(1.5);
}
.section-container{
    gap: 4rem;
    height: 80%;
    display: flex;
}
.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.title{
    margin-top: 100px;
    font-size: 2.5rem;
    text-align: center;
    color:  rgb(36, 7, 71);
    text-decoration: solid;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-pic{
    padding-left: 10vw;
    height: 20vw;
}
.text-container{
    padding-top: 0;
    align-items: flex-start;
}
p{
    line-height: 2.3vw;
    color: black;
    font-family: cursive;
    font-size: 1.5vw;
    
}
.btech{
    font-size: 2vw;
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
h3{
   font-size: 25px;
}
.skilling{
    display: flex;
    justify-content: center;
}
.skills h1{
    font-size: 2.5rem;
    text-align: center;
    color:  rgb(36, 7, 71);
    text-decoration: solid;
    text-decoration: underline;
}
.skills h3{
    margin: 5px;
}
.skills{
    border-radius: 8%;
    width: 750px;
    margin-top: 100px;
    color: rgb(36, 7, 71);
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.skills li{
    list-style: none;
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(252, 103, 103, 1)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 70%;
    animation: html 3s;
}
.javascript{
    width: 10%;
    animation: html 3s;
}
.Mysql{
    width: 60%;
    animation: html 3s;
}
.C{
    width: 80%;
    animation: html 3s;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    background: url(bg.jpg);
    background-size: cover;
    text-align: center;
    color:  rgb(36, 7, 71);
    text-decoration: solid;
    margin-top: 100px;
}
.contact .connect{
    max-width: 36px;
    text-align: center;
}
.contact .connect h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.container 
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon 
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text 
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3 
{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm 
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox 
{
    position: relative;
    width: 100%;
    margin-top: 100px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox ruby-span: {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.contact h2 
{
    font-size: 2.5rem;
    text-align: center;
    color:  rgb(36, 7, 71);
    text-decoration: solid;
    text-decoration: underline;
}
.footer{
    display: flex;
    justify-content: center;
}
.contact .container .contactInfo .contactForm .inputBox .span
 {
    font-size: 100px;
}
@media (max-width:900px){
    #main{
        height: 30vh;
    }
    .nav-links{flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }
    .girl{
        right: 13vw;
        top: 40vh;
    }
    .iconlink{
      
        margin-top: 5%;
        margin-left: 30%;
    }
    
    .info{
        margin-top:20%
    }
    .skills{
        width: 80vw;
    }
    .container{
        flex-direction: column;
    }
    .contact{
        padding: 0;
    }
    .contactForm{
        width: 80%;
    }

    .section-container{
        align-items: center;
    gap: 4rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .section__pic-container {
      height: auto;
      width: auto;
        
    }
    .about-pic {
        padding-top: 10px;
        padding-left: 0;
      
    }}
    @media(max-width:350px){
        .girl{
            right: 37vw;
            top: 55vh;
        }
        .info{
            margin-left: 25%;
        }
        .skills{
            width: 70vw;
        }
    }