*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
img{
    background-color: none;
}
body{
    background-color: rgb(228, 225, 225);
    background-image:url(vgimage.png);
}
.myicon{
    height: 60px;
    position: absolute;
    left: 1em;
}
.navbar {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
}
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: beige;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
}
.details-container{
    animation: scale-in-out 5s infinite ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}
.details-container i{
    height: 20px;
    width: 20px;
}
@keyframes scale-in-out {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.iconskill{
    height: 15px;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background-color: rgb(205, 198, 198);
    color: black;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background-color: #0c0c11;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 50px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20% ;
} 
.navbar a{
    font-size: 25px;
    color: rgb(240, 237, 244);
    border: 2px solid transparent;
    font-weight: 800;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

}
.navbar a:hover,
.navbar a.active{
    color:rgb(206, 180, 170);
    border-bottom: 3px solid black;
}
.navbar a:hover{
    transform:scale(1.2);
}
.girl{
    height: 30vw; 
    max-width: 100%;
    border-radius: 30%;
    margin-top: 3vw;
    padding: 0.5vw;
    position: absolute;
    background-color: rgb(14, 11, 17);
   right: 15vw;
    top: 6vw; 
}

.info{
    margin-left: 15%;
    margin-top: 10%;
}
.info h1{
    position:relative;
    font-size: 5vw;
    color: beige;
    -webkit-text-stroke: 2px  rgb(74, 51, 51);
    width:500px;

}
.info h1::before {
    content: "DEVELOPER";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #10295f;
    -webkit-text-stroke: 1px black; 
    border-right: 2px solid green;
    overflow: hidden;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.info h4{
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    font-family: "Times New Roman", "Courier New", serif;
}
.info h2{
    font-size:3vw ;
}
.info span{
    color: rgb(65, 63,63); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,'Lucida Handwriting';
    font-family: "Lucida Handwriting", "Courier New", cursive;
}
#button{
    text-decoration: none;
    text-decoration-color: rgba(224,212,207);
}
#button:hover{
    color: rgb(36, 7, 71);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(36, 7, 71);
}
.iconlink{
    display: inline-block;
    margin-right: 25rem; 
    margin: 1vw;
    margin-left: 25rem;
    transition: all 0.5s ease-in-out;
}
.icongit{
    display: inline-block;
    margin: 1vw;
    transition: all 0.5s ease-in-out;
}
.iconinsta{
    margin: 1vw;
    transition: all 0.5s ease-in-out;
}
.icongit:hover,.iconinsta:hover,.iconlink:hover{
    transform: scale(1.5);
}

.section-container{
    gap: 4rem;
    height: 80%;
    display: flex;
}
.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.title{
    margin-top: 100px;
    font-size: 3rem;
    text-align: center;
    color:  rgb(36, 7, 71);
    text-decoration: solid;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.details-container h3{
    text-decoration: underline;
    color: #02050a;
}
#about h1{
    padding: 20px;
}
.about-pic{
    padding-left: 4vw;
    height:25vw;
}
.text-container{
    padding-top: 0;
    align-items: flex-start;
}

p{
    line-height: 2.3vw;
    color: black;
    font-family: cursive;
    font-size: 1.5vw;
    
}
.btech{
    font-size: 2vw;
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
#school{
    color: brown;
}
h3{
   font-size: 25px;
}
.skilling{
    display: flex;
    justify-content: center;
}
.skills h1{
    font-size: 3rem;
    text-align: center;
    color:  rgb(36, 7, 71);
    text-decoration: solid;
    text-decoration: underline;
    margin-bottom: 20px;
}
.skills h3{
    margin: 5px;
}
.skills{
    border-radius: 5%;
    width: 1000px;
    margin-top: 100px;
    color: rgb(36, 7, 71);
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition:all 0.5s linear;
}
.skills:hover{
    transform:translateY(-30px);
}
.skills li{
    list-style: none;
    margin: 20px ;
    padding: 20px;
}
.bar{
    background: #40495d;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(157, 207, 205)0%, rgb(117, 137, 221)100%);
}
.html{
    width: 90%;
}
.css{
    width: 70%;
}
.javascript{
    width: 5%;
}
.Mysql{
    width: 60%;
}
.C{
    width: 80%;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    background-size: cover;
    text-align: center;
    color:  rgb(245, 243, 248);
    text-decoration: solid;
    margin-top: 100px;
}
.contact h1{
    color: rgb(36, 7, 71);
    text-decoration: underline;
    font-size: 3rem;
}
.contact .connect{
    max-width: 36px;
    text-align: center;
}
.contact .connect h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 30px;
}

.container .contactInfo {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.container .contactInfo .box {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center; 
    margin: 10px 0; Add margin between boxes;
}
.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: black;
}
.container .contactInfo .box .text {
    margin-left: 20px;
    font-size: 16px;
    color: #6c5858;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #070909;
    text-decoration: underline;
}
.contactForm 
{
    width: 55%;
    padding: 40px;
    background: #fff;
    border-radius: 10%;
    background-color:  rgb(98, 94, 94);
    opacity: 80%;
    border:4px solid black;
}
.contactForm h2
{
    font-size: 30px;
    color: #f6f1f1;
    font-weight: 500;
}
.contactForm .inputBox 
{
    position: relative;
    width: 100%;
    margin-top: 60px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox ruby-span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-30px);
}
.contactForm .inputBox a{

    width: 100px;
    background: #408e38;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}
.contactForm .inputBox a:hover{
    background-color: rgb(41, 101, 54);
}

@keyframes sleft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
.info h4{
    animation: 1s sleft ease-out;
}
.contact h2 
{
    font-size: 2.5rem;
    text-align: center;
    color:  rgb(247, 245, 249);
    text-decoration: solid;
    font-weight: bold;
}
.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 100%;
    height: 70px;
    background-color: rgb(98, 94, 94);
}
.contact .container .contactInfo .contactForm .inputBox .span
 {
    font-size: 100px;
}
.contactInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.add{
    display: flex;
    justify-content: space-between;
}
#filling{
    padding: 10px;
    border-radius: 10px;
}
#filling:hover{
   border:3px solid black;
}
@media (max-width: 900px) {
    .header {
        padding: 20px 5%; 
        flex-direction: column; 
        align-items: center; 
    }
    .myicon{
        left: 0;
        top: 0;
        height: 50px;
    }

    .info h1 {
        font-size: 8vw;
        width: auto; 
    }
    .info h1::before {
        content: "DEVELOPER";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #10295f;
        -webkit-text-stroke: 1px black; 
        border-right: 2px solid green;
        overflow: hidden;
        animation: animate 3s linear infinite;
    }
    
    @keyframes animate {
        0% {
            width: 0;
        }
        100% {
            width: 60%;
        }
    }

    .info h4,
    .info h2 {
        font-size: 3.5vw; 
    }

    .girl {
        height: auto;
        max-width: 100%; 
        position: relative; 
        right: 0; 
        top: 0; 
        height: 400px;
        left: 35%;
    }
    .section__pic-container{
        height: 15rem;
    }

    .section-container {
        flex-direction: column; 
        align-items: center; 
    }

    .skills {
        width: 100%; 
        padding: 10px; 
    }

    .contact {
        padding: 20px 10%; 
    }

    .contactForm {
        width: 90%; 
        padding: 20px;
    }

    .container {
        padding: 0;
    }
    .title{
       margin-top: 0px;
    }
}
